@tailwind base;
@tailwind components;
@tailwind utilities;

/* .box {
  position: fixed;
  top: -20px;
  transform: rotate(80deg);
  left: -60px;
}

.wave {
  position: absolute;
  opacity: 0.4;
  width: 1500px;
  height: 1300px;
  margin-left: -150px;
  margin-top: -250px;
  border-radius: 43%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

.wave.-one {
  animation: rotate 10000ms infinite linear;
  opacity: 5%;
  background: rgb(0, 145, 255);
}

.wave.-two {
  animation: rotate 6000ms infinite linear;
  opacity: 10%;
  background: rgb(0, 145, 255);
} */

.et .wave {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100px;
  background: url(../public/wave.png);
  background-size: 1000px 100px;
}

.et .wave#wave1 {
  z-index: 1;
  opacity: 1;
  bottom: 0px;
  animation: animate 4s linear infinite;
}

.et .wave#wave1 {
  z-index: 1;
  opacity: 0.2;
  bottom: 0px;
  animation: animate 10s linear infinite;
}

.et .wave#wave2 {
  z-index: 1;
  opacity: 0.5;
  bottom: 0px;
  animation: animate2 9s linear infinite;
}

.et .wave#wave3 {
  z-index: 1;
  opacity: 0.2;
  bottom: 10px;
  animation: animate 10s linear infinite;
}

.et .wave#wave4 {
  z-index: 1;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 9s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 1000px;
  }

  100% {
    background-position: 0;
  }
}

@keyframes animate2 {
  0% {
    background-position: 0px;
  }

  100% {
    background-position: 1000px;
  }
}

.box {
  position: fixed;
  top: -60px;
  transform: rotate(80deg);
  left: -90px;
  z-index: 0;
}

.wavee {
  position: absolute;
  opacity: 0.4;
  width: 1500px;
  height: 1300px;
  margin-left: -150px;
  margin-top: -250px;
  border-radius: 43%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

.wavee.-one {
  animation: rotate 18s infinite linear;
  opacity: 5%;
  background: #3586ff;
}

.wavee.-two {
  animation: rotate 9s infinite linear;
  opacity: 10%;
  background: #3586ff;
}
